@charset "UTF-8";

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html body {
    background-color: #f5f5f5;
    font-family: josefin-sans;
    color: #121212;
}

.bg-body-tertiary {
    background: #F7B5E0;
    background: linear-gradient(90deg, rgba(247, 181, 224, 1) 0%, rgba(245, 245, 245, 1) 100%) !important;
}

.container-lg {
    color: #121212;
}

.card{
    border: 2px solid #121212;
}

.footer-kb {
    border-top: 2px solid #121212;
    text-align: center;
    color: #121212;
    margin: 2rem;
}

/*Carousel styling*/
.carousel-padding {
    padding-left: 125px;
    padding-right: 125px;
    color: #121212;
}